body {
    background-color: #FFF7D4;
}

h1.title {
    font-size: 300%;
}

div.tabbox {
    margin: 0px;
    padding: 0px;
}

p.tabs {
    margin: 0px;
    padding: 0px;
}

p.tabs a {
    display: block;
    width: 5em;
    float: left;
    margin: 0px 1px 0px 0px;
    padding: 3px;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
}

p.tabs a.tab-select {
    background-color: darkgray;
    color: white;
}

p.tabs a:hover {
    color: black;
}

div.tab-component {
    height: 150px;
    overflow: auto;
    clear: left;
    display: none;
}

div.tab-component p {
    margin: 0.5em;
}

#Top {
    display: block;
}

#UnitSales {
    width: 15vh;
    height: 5%;
    font-size: 5vh;
}