input[type="button"], input[type="submit"] {
    -webkit-appearance: none;
    background-color: #f1f1f1;
}

.sub {
    font-size: 2.5rem;
}

#form {
    float: left;
}

#unit {
    font-size: 5rem;
    width: 50rem;
}

#ageSelect {
    font-size: 5rem;
}

#tasteSelect {
    font-size: 5rem;
}

#submit {
    margin-top: 4rem;
    font-size: 5rem;
}

#list {
    font-size: 4rem;
    width: 50rem;
    height: 30rem;
}

#listForm {
    float: left;
    margin-left: 10rem;
}

#delete {
    margin-top: 1rem;
    font-size: 5rem;
}

@media screen and ( max-width: 1080px ) {
    #list {
        font-size: 4rem;
        width: 50rem;
        height: auto;
    }

    #listForm {
        margin-top: 8rem;
        margin-left: auto;
    }
}