.sub {
    font-size: 2.5rem;
}

#unit {
    font-size: 5rem;
    width: 50rem;
}

#ageSelect {
    font-size: 5rem;
}

#tasteSelect {
    font-size: 5rem;
}

#submit {
    margin-top: 8rem;
    font-size: 5rem;
}

