body {
    background-color: lightgray;
}

.unit-form {
    border-radius: 7px;
    border: solid;
    margin-top: 5rem;
    width: 40rem;
    box-shadow: 2px 2px #818181;
    visibility: hidden;
}

.unit-view {
    width: 35rem;
    height: 15rem;
    font-size: 15rem;
    border-radius: 7px;
    text-align: center;
}

.unit-font {
    font-size: 50px;
}

@media screen and ( max-width: 1080px ) {
    .unit-view {
        padding: 0 0 0 0;
    }
}

#content {
    font-size: 35px;
}