body {
    background-color: lightgray;
}

.unit-view {
    width: 90%;
    font-size: 250px;
    border-radius: 7px;
    text-align: center;
}

.unit-form {
    border-radius: 7px;
    border: solid;
    margin: 50px;
    box-shadow:2px 2px #818181;
}

.unit-font {
    font-size: 50px;
}

.content {
    font-size: 35px;
}